openapi: 3.0.0
info:
  title: VATEUD Core
  version: '1.0'
  description: >-
    Welcome to the documentation of VATEUD Core API
  contact:
    email: webservices@vateud.net
servers:
  - url: https://core.vateud.net/api
tags:
  - name: user
  - name: facility
  - name: division
paths:
  /user/{cid}:
    get:
      summary: Returns a user's details by their CID.
      tags:
        - user
      security:
        - AuthorizationHeader: []
      parameters:
        - in: path
          name: cid
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    enum:
                      - true
                  data:
                    $ref: '#/components/schemas/User'
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - This user does not exist.
                      - This facility does not exist.
        '401.1':
          $ref: '#/components/responses/NoApiKey'
        '401.2':
          $ref: '#/components/responses/InvalidApiKey'
  /user/{cid}/notes:
    get:
      summary: >-
        Returns a user's notes by their CID. Please note this endpoint only
        returns training notes made by your vACC.
      tags:
        - user
      security:
        - AuthorizationHeader: []
      parameters:
        - in: path
          name: cid
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    enum:
                      - true
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrainingNote'
        '403':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - >-
                        You do not have permission to view this controller's
                        notes.
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - This user does not exist.
                      - This facility does not exist.
        '401.1':
          $ref: '#/components/responses/NoApiKey'
        '401.2':
          $ref: '#/components/responses/InvalidApiKey'
  /user/{cid}/notes/create:
    post:
      summary: Create a new training note for a user.
      tags:
        - user
      security:
        - AuthorizationHeader: []
      parameters:
        - in: path
          name: cid
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instructor_cid:
                  type: integer
                position:
                  type: string
                note:
                  type: string
                session_type:
                  type: integer
                  pattern: '[0-3]'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    enum:
                      - true
        '400':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - Validation failure.
                  hint:
                    type: array
                    items: {}
        '403':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - >-
                        You do not have permission to view this controller's
                        notes.
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - This user does not exist.
                      - This facility does not exist.
        '401.1':
          $ref: '#/components/responses/NoApiKey'
        '401.2':
          $ref: '#/components/responses/InvalidApiKey'
  /facility/roster:
    get:
      summary: Returns vACC's roster.
      tags:
        - facility
      security:
        - AuthorizationHeader: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    enum:
                      - Fetched successfully
                  data:
                    type: object
                    properties:
                      facility:
                        type: string
                      staff:
                        type: object
                        items:
                          $ref: '#/components/schemas/User'
                      controllers:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'
                      visitors:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - This facility does not exist.
        '401.1':
          $ref: '#/components/responses/NoApiKey'
        '401.2':
          $ref: '#/components/responses/InvalidApiKey'
  /facility/activity:
    get:
      summary: Returns vACC's activity from last 4 weeks.
      tags:
        - facility
      security:
        - AuthorizationHeader: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    enum:
                      - true
                  data:
                    type: object
                    properties:
                      cid:
                        type: array
                        items:
                          $ref: '#/components/schemas/Activity'
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - This facility does not exist.
        '401.1':
          $ref: '#/components/responses/NoApiKey'
        '401.2':
          $ref: '#/components/responses/InvalidApiKey'
  /facility/events:
    get:
      summary: Returns all vACCs events.
      tags:
        - facility
      security:
        - AuthorizationHeader: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    enum:
                      - true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - This facility does not exist.
        '401.1':
          $ref: '#/components/responses/NoApiKey'
        '401.2':
          $ref: '#/components/responses/InvalidApiKey'
  /division/events:
    get:
      summary: Returns list of next 15 events.
      tags:
        - division
      security: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    enum:
                      - true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
components:
  schemas:
    Event:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        image_url:
          type: string
        start:
          type: string
        end:
          type: string
        airports:
          type: object
          properties:
            arrival:
              type: array
              nullable: true
              example:
                - EDDF
                - LTFM
              items:
                type: string
            departure:
              type: array
              nullable: true
              example: null
              items:
                type: string
        facilities:
          type: integer
          description: Bitmap of the VATEUD vACCs responsible for the event.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        forum_url:
          type: string
        start_pretty:
          type: string
        end_pretty:
          type: string
    User:
      type: object
      properties:
        cid:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        facility:
          type: integer
          description: ID of the user's vACC.
        facility_join:
          type: string
        rating:
          type: integer
          description: User's VATSIM rating.
        last_active:
          type: string
          description: Last time user accessed website.
        flag_basic:
          type: boolean
          description: True if user has not completed Basic ATC Exam.
        flag_is_visitor:
          type: boolean
          description: True if user is outside of VATEUD.
        flag_xferOverride:
          type: boolean
          description: >-
            True if user has been granted a transfer override (to avoid
            restrictions).
        last_api_check:
          type: string
          description: Last time user was checked against VATSIM's API.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        email_preferences:
          type: integer
          description: Bitmap of user's email preferences.
    TrainingNote:
      type: object
      properties:
        id:
          type: integer
        cid:
          type: integer
        instructor_cid:
          type: integer
        facility_id:
          type: integer
          description: ID of the vACC the note was created in.
        training_note:
          type: string
        session_type:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        friendly_time:
          type: string
          format: date
        instructor_name:
          type: string
    Activity:
      type: object
      properties:
        id:
          type: integer
        user_cid:
          type: integer
        time:
          type: string
          description: Time in minutes that the user has controlled in your facility.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    AuthorizationHeader:
      type: apiKey
      name: X-API-KEY
      in: header
  responses:
    NoApiKey:
      description: No API key found in request.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                enum:
                  - Invalid API key.
              message:
                type: string
                enum:
                  - >-
                    No API key was found in headers. If you are attempting to use the X-API-KEY header, it was not included in your request.
    InvalidApiKey:
      description: API key does not exist.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                enum:
                  - Invalid API key.
              api_key:
                type: string